<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Artista</title>
  <link rel="stylesheet" href="/css/addArtist.css">
</head>
<body>
  <div class="app-container">
    <header class="navbar">
      <div class="navbar-title">
        <a href="/"><img src="/image/LogoTipo.png" alt="Logo" class="logo"></a>
      </div>
      <ul class="nav-links">
        <li><a href="/">Início</a></li>
        <li><a href="/discs">Discos</a></li>
        <li><a href="/artists" class="active">Artistas</a></li>
        <li><a href="/genres">Gêneros</a></li>
      </ul>
    </header>
    <main class="main-content">
      <h1 class="page-title">Cadastrar Novo Artista</h1>

      <form action="/artists/add" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
      
        <label for="genero">Gênero Musical:</label>
        <select id="genero" name="genero" required>
          <% generos.forEach(genero => { %>
            <option value="<%= genero.nome %>"><%= genero.nome %></option>
          <% }) %>
        </select>

        <label for="foto">URL da Foto:</label>
        <input type="url" id="foto" name="foto" placeholder="Insira a URL da foto" required><br><br>
      
        <label for="discos-search">Buscar Discos:</label>
        <input type="text" id="discos-search" placeholder="Digite para buscar discos">
        
        <button type="button" id="search-button">Buscar</button>
      
        <ul id="discos-list" class="discos-list">
          <% discos.forEach(disco => { %>
            <li>
              <input type="checkbox" id="disco-<%= disco.id %>" name="discos" value="<%= disco.id %>">
              <label for="disco-<%= disco.id %>"><%= disco.titulo %> (<%= disco.ano %>)</label>
            </li>
          <% }) %>
        </ul>
      
        <button type="submit">Cadastrar</button>
      </form>
      <div class="link-voltar">
        <a href="/artists" class="btn-secondary">Voltar para a lista de artistas</a>
      </div>
      <script src="/js/addArtist.js"></script>
    </div>      
</body>
</html>
